@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --color-ui-primary: #e2e2eb;
  --color-ui-secondary: #FFFFFF;
  --color-text-primary: #1C1C1E;
  --color-text-secondary: #6D6D72;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark mode colors */
.dark {
  --color-ui-primary: #1C1C1E;
  --color-ui-secondary: #000000;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #AEAEB2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-ui-secondary);
  color: var(--color-text-primary);
}
